<%- include('../../components/header.ejs') %>
    <div class="container">

        <div class="row">

            <div class="col-lg-6 col-md-8 col-sm-10 col-xxl-4">
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">Formulario de foto de perfil</h5>
                        <form class="needs-validation" method="post" action="" enctype="multipart/form-data">
                            <% if (errors) { %>
                                <div class="alert alert-warning">
                                    <%= errors.message%>
                                </div>
                                <% } %>
                                    <div>
                                        <img src="/images/profile/<%= persona.id %>.jpg" alt="Foto de perfil"
                                            class="img-fluid" />
                                    </div>
                                    <div class="mt-2 has-validation">
                                        <label>Foto de Perfil</label>
                                        <input required class="form-control" type="file" name="photo" />
                                        <%if (errors?.nombre) {%>
                                            <div class="error-label">
                                                Por favor ingrese un archivo
                                            </div>
                                            <% } %>

                                    </div>

                                    <div class="mt-2">
                                        <input class="btn btn-primary" type="submit" value="Enviar">
                                    </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../components/footer.ejs') %>